* {
  box-sizing: border-box;
}
body {
  background: #b1e6dd;
  height: 100vh;
  font-family: Arial;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.header {
  background-image: url("header.jpg");
  background-repeat:no-repeat;
  height:500px; /*CHANGE TO THE HEIGHT OF YOUR BANNER*/
  background-size:100% 100%;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.topnav {
  overflow: hidden;
  background-color: #426e66;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border: 1px solid #b1e6dd;
  border-radius: 5px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.topnav a:hover {
  background-color: #69918a;
  color: black;
}
.sidebar {
  float: left;
  background: #426e66;
  width: 325px;
  text-align:center;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.midpage {
  float: right;
  background: #426e66;
  width: 65%;
  text-align:center;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

div#bottomdiv{
  padding:3px;
  position:fixed;
  bottom: 0px;
  right: 0px;
  color: aliceblue;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

div {
  margin: 15px 0px 10px 10px;
}

img {
  vertical-align: middle;
}

.container {
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.login-page{
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
  border-radius: 25px;
}

.form{
  position: relative;
  z-index: 1;
  background: #426e66;
  max-width: 360px;
  margin:0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.form input{
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: white;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.form button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #b1e6dd;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.form button:hover,.form button:active{
  background: #b1e6dd;
}

.form .message{
  margin: 15px 0 0;
  color: black;
  font-size: 12px
}

.form .message a{
  color: white;
  text-decoration: none;
}

.form .register-form{
  display: none;
}

.wholepage {
  width: 95%;
  height:100%;
  margin: 0 auto;
  padding: 20px;
  background: aliceblue;
  text-align:center;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.more{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #69918a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}
.more:hover{
  background: #5c736c;
}
